<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webAppUrl" value="http://test.langmaster.com/edusofttest" />
    <add key="homePage" value="schools/index_en_gb.html" />
    <add key="ftp.url" value="test.langmaster.com/chinhtest/rew/web4" />
    <add key="ftp.user" value="deploy" />
    <add key="ftp.password" value="deploy" />
    <add key="ftp.dir" value="" />
  </appSettings>
</configuration>