<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webAppUrl" value="https://www.etestme.vn" />
    <add key="homePage" value="schools/index_en_gb.html" />
    <add key="ftp.url" value="103.27.236.197:2121" />
    <add key="ftp.user" value="Janacek" />
    <add key="ftp.password" value="Edusoft346" />
    <add key="ftp.dir" value="" />
  </appSettings>
</configuration>