<?xml version="1.0"?>
<appSettings>
  <add key="cfg-isDebug" value="xtrue" />
  <add key="cfg-designId" value="xskrivanek" />
  <add key="cfg-blobJS" value="http://lmdata.blob.core.windows.net/v1-0" />
  <add key="cfg-blobMM" value="http://lmdata.blob.core.windows.net/v1-0" />
  <!--
  <add key="cfg-blobJS" value="http://lmdata.blob.core.windows.net/v1-0" /><add key="cfg-blobMM" value="http://lmdata.blob.core.windows.net/v1-0" />
  <add key="cfg-blobJS" value="http://localhost/Web4" /><add key="cfg-blobMM" value="http://localhost/Web4" />
  -->

  <!--PDF certifikat pro eTestMe-->
  <add key="PDF.Cert.Password" value="xcv456dfg258_" />
  <add key="PDF.Cert"         value="{0}App_Data\testMe\langmaster_pdf.pfx" />
  <add key="PDF.Font"         value="{0}App_Data\testMe\verdana.ttf" />
  <add key="PDF.FontBold"     value="{0}App_Data\testMe\verdanab.ttf" />

  <add key="Email.SmtpHost" value="smtp.sendgrid.net"/>
  <add key="Email.SmtpUsername" value="langmaster-email"/>
  <add key="Email.SmtpPassword" value="test123_"/>
  <add key="Email.SmtpSsl" value="false"/>
  <add key="Email.SmtpPort" value="587"/>

  <add key="vs:EnableBrowserLink" value="false" />

</appSettings>
