<?xml version="1.0"?>
<appSettings>
  <add key="cfg-isDebug" value="true" />
  <add key="cfg-designId" value="xskrivanek" />
  
  <!--PDF certifikat pro eTestMe-->
  <add key="PDF.Cert.Password" value="xcv456dfg258_" />
  <add key="PDF.Cert"         value="{0}App_Data\testMe\langmaster_pdf.pfx" />
  <add key="PDF.Font"         value="{0}App_Data\testMe\verdana.ttf" />
  <add key="PDF.FontBold"     value="{0}App_Data\testMe\verdanab.ttf" />

  <add key="Email.SmtpHost" value="smtp.sendgrid.net"/>
  <add key="Email.SmtpUsername" value="langmaster-email"/>
  <add key="Email.SmtpPassword" value="test123_"/>
  <add key="Email.SmtpSsl" value="false"/>
  <add key="Email.SmtpPort" value="587"/>

  <add key="vs:EnableBrowserLink" value="false" />

  </appSettings>
