<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings configSource="Web.AppSetting.config" />
  <connectionStrings configSource="Web.ConnectionStrings.config" />
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Preserve" stopProcessing="true">
          <match url="^(code/newea\.aspx|links\.aspx|vyzva57services/(.*)|service\.ashx)$" />
          <action type="None" />
        </rule>
        <!--<rule name="Preserve1" stopProcessing="true">
          <match url="code/newea.aspx" />
        </rule>
        <rule name="Preserve2" stopProcessing="true">
          <match url="links.aspx" />
        </rule>-->
        <!--<rule name="Preserve3" stopProcessing="true">   
          <match url="vyzva57services(.*)" />
          <action type="None" />
        </rule>-->
        <!--<rule name="Preserve4" stopProcessing="true"> 
          <match url="service.ashx" />
          <action type="None" />
        </rule>-->
        <!--<rule name="RedirectJS" stopProcessing="true">
          <match url="(.js)$" />
          <action type="Redirect" url="http://localhost/web4/{R:1}" />
        </rule>-->
        <rule name="RedirectJS" stopProcessing="true">
          <match url="^(.*\.js)$" />
          <action type="Rewrite" url="http://localhost/web4/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="RedirectAll" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Redirect" url="http://localhost/web4/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
