<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="filesources.web4" value="d:\LMCom\rew\Web4" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="GetFileModule" type="TheWeb.GetFileModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />   
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" /> 
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>