<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\..\LMComLib\packages.config" />
  <repository path="..\..\..\rw2\client\packages.config" />
  <repository path="..\..\..\SLLib\packages.config" />
  <repository path="..\..\azure-storage-net-master\Lib\WindowsDesktop\packages.config" />
  <repository path="..\..\ChinhTestStatNew\packages.config" />
  <repository path="..\..\ChinhTestStats\packages.config" />
  <repository path="..\..\CubesDeployment\packages.config" />
  <repository path="..\..\EduAuthor\packages.config" />
  <repository path="..\..\LMComLib\packages.config" />
  <repository path="..\..\LMPortable\packages.config" />
  <repository path="..\..\LMWindows\packages.config" />
  <repository path="..\..\mediainfo\packages.config" />
  <repository path="..\..\NewLMComModel\packages.config" />
  <repository path="..\..\ObjectModel\packages.config" />
  <repository path="..\..\OldToNewViewer\packages.config" />
  <repository path="..\..\SolutionToolbar\packages.config" />
  <repository path="..\..\Test\packages.config" />
  <repository path="..\..\Utils\TheFreeDictionary\SqlLite\packages.config" />
  <repository path="..\..\WebApiProxy\WebApiProxy.Server\packages.config" />
  <repository path="..\packages.config" />
</repositories>