<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="azureMode" value="azure" />
    <add key="OldEAUrl" value="http://localhost/eduauthornew/" />
    <add key="pz-w8virtual.SSAS.Server" value="pz-w8virtual\sqlserver" />
    <add key="pz-w8virtual.SSAS.UserId" value="pavel" />
    <add key="pz-w8virtual.SSAS.Domain" value="langmaster" />
    <add key="pz-w8virtual.SSAS.Password" value="zvahov88_" />
    <add key="lm-frontend-3.SSAS.Server" value="lm-virtual-1" />
    <add key="lm-frontend-3.SSAS.UserId" value="lmadmin" />
    <add key="lm-frontend-3.SSAS.Domain" value="lm-virtual-1" />
    <add key="lm-frontend-3.SSAS.Password" value="@LangMast3r07" />
    <add key="lm-virtual-1.SSAS.Server" value="lm-virtual-1" />
    <add key="lm-virtual-1.SSAS.UserId" value="lmadmin" />
    <add key="lm-virtual-1.SSAS.Domain" value="lm-virtual-1" />
    <add key="lm-virtual-1.SSAS.Password" value="@LangMast3r07" />
    <add key="dedi8439.SSAS.Server" value="dedi8439" />
    <add key="dedi8439.SSAS.UserId" value="administrator" />
    <add key="dedi8439.SSAS.Domain" value="dedi8439" />
    <add key="dedi8439.SSAS.Password" value="hoangedusoft@!@#$2013" />
    <add key="dedi8439.SSAS.Provider" value="SQLNCLI10.1" />
    <add key="w2008server.SSAS.Server" value="w2008server" />
    <add key="w2008server.SSAS.UserId" value="administrator" />
    <add key="w2008server.SSAS.Domain" value="langmaster" />
    <add key="w2008server.SSAS.Password" value="patek13_" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Container_lm-virtual-1" connectionString="Data Source=195.250.145.26;initial catalog=NewLMCom;Integrated Security=False;User ID=lmcomdatatest;Password=lmcomdatatest;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="Container_lm-virtual-1_Run" connectionString="Data Source=195.250.145.26;initial catalog=NewLMComServices;Integrated Security=False;User ID=lmcomdatatest;Password=lmcomdatatest;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="Container_pz-w8virtual" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=NewLMCom;Integrated Security=False;User ID=lmcomdatatest;Password=lmcomdatatest;" providerName="System.Data.SqlClient" />
    <add name="Container_dedi8439" connectionString="Data Source=127.0.0.1;initial catalog=NewLMCom;Integrated Security=False;User ID=lmcomdatatest;Password=lmcomdatatest" providerName="System.Data.SqlClient" />
    <add name="Container_w2008server" connectionString="Data Source=127.0.0.1;initial catalog=NewLMCom;Integrated Security=False;User ID=lmcomdatatest;Password=lmcomdatatest;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="TradosData" connectionString="Data Source=195.250.145.26;Initial Catalog=LMTrados;Persist Security Info=True;User ID=lmcomdatatest;Password=lmcomdatatest" providerName="System.Data.SqlClient" />
    <add name="Container" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=NewLMCom;Integrated Security=False;User ID=lmcomdatatest;Password=lmcomdatatest;" providerName="System.Data.SqlClient" />
    <add name="AzureContainer" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=AzureLmcom;Integrated Security=False;User ID=lmcomdatatest;Password=lmcomdatatest;" providerName="System.Data.SqlClient" />
    <!--
    LMV1
    <add name="Container_pz-w8virtual" connectionString="Data Source=195.250.145.26;initial catalog=NewLMCom;Integrated Security=False;User ID=lmcomdatatest;Password=lmcomdatatest;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="TradosData" connectionString="Data Source=195.250.145.26;Initial Catalog=LMTrados;Persist Security Info=True;User ID=lmcomdatatest;Password=lmcomdatatest" providerName="System.Data.SqlClient" />
    FE5
    <add name="Container" connectionString="Data Source=195.250.145.26;initial catalog=NewLMCom;Integrated Security=False;User ID=lmcomdatatest;Password=lmcomdatatest;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    LOCAL
    <add name="Container" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=NewLMCom;Integrated Security=False;User ID=lmcomdatatest;Password=lmcomdatatest;" providerName="System.Data.SqlClient"/>
    <add name="Container_pz-w8virtual" connectionString="Data Source=195.250.145.26;initial catalog=NewLMCom;Integrated Security=False;User ID=lmcomdatatest;Password=lmcomdatatest;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="Container_pz-w8virtual" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=NewLMCom;Integrated Security=False;User ID=lmcomdatatest;Password=lmcomdatatest;" providerName="System.Data.SqlClient"/>
    <add name="TradosData" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=LMTrados;Integrated Security=False;User ID=lmcomdatatest;Password=lmcomdatatest;" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
