<div ng-if="!state.layoutSpecial" ng-include="'vyzva$common$layout.html'"></div>
<div ng-if="state.layoutSpecial" ng-include="::state.layoutContentId | vyzva$state$viewpath"></div>

<script type="text/ng-template" id="vyzva$common$layout.html">
  <div class="container-fluid topbar">
    <div class="container">
      <div class="pull-left" ng-include="'vyzva$common$topbarinnerleft.html'"></div>
      <div class="pull-left topbar-title" ng-if="::!state.ignorePageTitle">{{::ts.title}}</div>
      <div ng-include="'vyzva$common$topbarinnerright.html'"></div>
    </div>
  </div>
  <div class="container">
    <div ng-include="'vyzva$common$breadcrumb.html'"></div>
    <div data-ng-include="::state.layoutContentId | vyzva$state$viewpath"></div>
  </div>
</script>

<script type="text/ng-template" id="vyzva$common$breadcrumb.html">
  <ol class="breadcrumb" ng-if="::!!ts.breadcrumb && ts.breadcrumb.length>0">
    <li data-ng-repeat="item in ::ts.breadcrumb" data-ng-class="::{'active': item.active}">
      <a data-ng-if="::!item.active" data-ng-href="{{::item.url}}">{{::item.title}}</a>
      <span data-ng-if="::item.active">{{::item.title}}</span>
    </li>
  </ol>
</script>

<script type="text/ng-template" id="vyzva$common$topbarinnerleft.html">
  <div ng-if="::!ts.ctx.onbehalfof" class="lm-logo-black-small" ng-click="ts.navigateWebHome()"></div>
  <div ng-if="::ts.ctx.onbehalfof" class="onbehav-go-back" ng-click="::ts.navigateReturnUrl()"><i class="fa fa-arrow-circle-o-left"></i></div>
</script>

<script type="text/ng-template" id="vyzva$common$topbarinnerright.html">
  <div ng-if="::ts.ctx.onbehalfof" class="pull-right onbehav-right-part-name">{{::appService.schoolUserInfo().firstName}}<br />{{::appService.schoolUserInfo().lastName}}</div>
  <div ng-if="::ts.ctx.onbehalfof" class="pull-right onbehav-right-part-at"><i class="fa fa-at"></i></div>
</script>

<script type="text/ng-template" id="vyzva$common$summary.html">
  <table class="table">
    <tr>
      <td>Skóre:</td>
      <td><span ng-if="user().score>=0"><span vyzva$exmodule$scoreprogress value="{{user().score}}"></span></span></td>
      <td>První interakce:</td>
      <td><b>{{(user().beg | vyzva$exmodule$sec) || '-'}}</b></td>
      <td>Přehráno zvuku:</td>
      <td><b>{{(user().sPlay | vyzva$exmodule$time) || '-'}}</b></td>
    </tr>
    <tr>
      <td>Dokončeno:</td>
      <td><span vyzva$exmodule$scoreprogress value="{{user().finished}}" colors="score-bar learn-progress"></span></td>
      <td>Poslední interakce:</td>
      <td><b>{{(user().end | vyzva$exmodule$sec) || '-'}}</b></td>
      <td>Vlastní nahrávky</td>
      <td><b>{{(user().sRec | vyzva$exmodule$time) || '-'}}</b></td>
    </tr>
    <tr>
      <td>Počet cvičení</td>
      <td><b>{{user().count}}</b></td>
      <td>Strávený čas</td>
      <td><b>{{(user().elapsed | vyzva$exmodule$time) || '-'}}</b></td>
      <td>Přehráno nahrávek</td>
      <td><b>{{(user().sPRec | vyzva$exmodule$time) || '-'}}</b></td>
    </tr>
    <tr>
      <td>Dokončených cvičení</td>
      <td><b>{{user().dones}}</b></td>
      <td colspan="4">&nbsp;</td>
    </tr>
  </table>
</script>
