<div class="container-fluid topbar">
  <div class="container">
    <div ng-if="::!api().ctx.onbehalfof" class="lm-logo-black-small" ng-click="api().navigateWebHome()">{{api.ctx.onbehalfof}}</div>
    <div ng-if="::api().ctx.onbehalfof" class="onbehav-go-back" ng-click="::api().navigateReturnUrl()"><i class="fa fa-arrow-circle-o-left"></i></div>
    <div ng-if="::api().ctx.onbehalfof" class="onbehav-right-part-name">Pavel<br />Zika</div>
    <div ng-if="::api().ctx.onbehalfof" class="onbehav-right-part-at"><i class="fa fa-at"></i></div>
    <div data-ng-include="::state.layoutToolbarType | vyzva$state$viewpath" class="topbar-include"></div>
    <div ng-if="::!state.pageTitlePlace" class="topbar-title">{{::ts.title}}</div>
  </div>
</div>
<div class="container" ng-if="::!state.ommitBreadCrumb && !!ts.breadcrumb && ts.breadcrumb.length>0">
  <ol class="breadcrumb">
    <li data-ng-repeat="item in ::ts.breadcrumb" data-ng-class="::{'active': item.active}">
      <a data-ng-if="::!item.active" data-ng-href="{{::item.url}}">{{::item.title}}</a>
      <span data-ng-if="::item.active">{{::item.title}}</span>
    </li>
  </ol>
</div>

<div class="container-fluid">
  <div class="container">
    <h1 ng-if="::state.pageTitlePlace==1">{{::ts.title}}</h1>
    <div data-ng-include="::state.layoutContentId | vyzva$state$viewpath"></div>
  </div>
</div>