<!--***************** LAYOUT -->
<div class="topbar topbar-exercise" ng-controller="collapsable as modulecollapsable">
  <div class="container-fluid">
    <div class="container">
      <div class="pull-left" ng-include="'vyzva$common$topbarinnerleft.html'"></div>
      <button class="pull-left btn btn-success btn-lg" ng-if="::!modService.moduleDone" ng-click="::ts.tbClick()">{{::ts.tbTitle}} <i class="fa fa-hand-o-right"></i></button>
      <div class="pull-left module-finished" ng-if="::modService.moduleDone"><i class="fa fa-checked"></i> {{::ts.tbDoneTitle}}</div>
      <button class="btn-finish pull-left btn btn-default" ng-click="::ts.tbBackClick()">Zpět na kurz <i class="fa fa-level-up"></i></button>
      <div class="pull-left topbar-title" ng-if="::!state.pageTitlePlace">{{::modService.node.title}}</div>
      <div class="pull-right more fa fa-bars" ng-click="modulecollapsable.isCollapsed = !modulecollapsable.isCollapsed"></div>
      <div class="pull-right" ng-include="'vyzva$common$topbarinnerright.html'"></div>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <div class="ex-items" ng-include="'vyzva$exercise$moduleheader.html'"></div>
    </div>
  </div>
  <div class="container-fluid" style="background-color:white;" ng-include="'vyzva$exercise$modulemore.html'"></div>
</div>
<div class="container lm-top-margin-lg">
  <div class="instruction" ng-include="'vyzva$exercise$instruction.html'"></div>
  <div class="new-ea lm-top-margin" data-show-exercise="" ex-service="::exService"></div>
</div>

<!--***************** INCLUDES -->
<script type="text/ng-template" id="vyzva$exercise$moduleheader.html">
  <div ng-if="::modService.exShowPanel" ng-repeat="it in ::modService.exercises" class="ex-item"
       ng-class="{warning:it.background==1, success: it.background==2, 'no-clickable': modService.exNoclickable, active: it.active}"
       ng-click="modService.exNoclickable ? null : modService.navigateExercise(it.idx)">
    <span ng-if="it.content==1" class="fa fa-check"></span>
    <span ng-if="it.content==2">{{it.idx+1}}.</span>
    <span ng-if="it.content==3" xclass="fa fa-folder-o">{{it.idx+1}}.</span>
    <span ng-if="it.content==4" ng-style="it.percent | vyzva$exmodule$percentheight : 28" class="progress-red">{{it.percent}}%</span>
    <span ng-if="it.content==4">{{it.percent}}%</span>
  </div>
</script>

<script type="text/ng-template" id="vyzva$exercise$modulemore.html">
  <!--<h1>{{ascollapsable.isCollapsed}}</h1>-->
  <div collapse="modulecollapsable.isCollapsed" class="container more-body-module position-relative">
    <div class="close-panel fa fa-times" ng-click="modulecollapsable.isCollapsed = !modulecollapsable.isCollapsed"></div>
    <h4>{{::modService.node.title}}, podrobné informace:</h4>
    <div class="row">
      <div class="col-sm-3">
        <span ng-if="modService.score>=0">Skóre: <span vyzva$exmodule$scoreprogress value="{{modService.score}}"></span><br /></span>
        <span vyzva$exmodule$emptytest label="Počet cvičení" value="{{modService.exercises.length}}"></span>
      </div>
      <div class="col-sm-5">
        <span vyzva$exmodule$emptytest label="První interakce" value="{{modService.user.beg | vyzva$exmodule$sec}}"></span>
        <span vyzva$exmodule$emptytest label="Poslední interakce" value="{{modService.user.end | vyzva$exmodule$sec}}"></span>
        <span vyzva$exmodule$emptytest label="Strávený čas" value="{{modService.user.elapsed | vyzva$exmodule$time}}"></span>
      </div>
      <div class="col-sm-4">
        <span vyzva$exmodule$emptytest label="Přehráno zvuku" value="{{modService.user.sumPlay | vyzva$exmodule$time}}"></span>
        <span vyzva$exmodule$emptytest label="Vlastní nahrávky" value="{{modService.user.sumRecord | vyzva$exmodule$time}}"></span>
        <span vyzva$exmodule$emptytest label="Přehráno nahrávek" value="{{modService.user.sumPlayRecord | vyzva$exmodule$time}}"></span>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="vyzva$exercise$instruction.html">
  <div ng-controller="collapsable as excollapsed" ng-if="exService.doneStatus">
    <div class="header h4" ng-click="excollapsed.isCollapsed = !excollapsed.isCollapsed">
      <div class="more fa fa-bars"></div>
      <span class="fa fa-check"></span>
      Cvičení dokončeno<span ng-if="exService.score>=0">, skore: <span vyzva$exmodule$scoreprogress value="{{exService.score}}"></span></span>
    </div>
    <div collapse="excollapsed.isCollapsed" class="more-body-exercise position-relative">
      <div class="close-panel fa fa-times" ng-click="excollapsed.isCollapsed = !excollapsed.isCollapsed"></div>
      <hr />
      <h4>{{::ts.title}}, podrobné informace:</h4>
      <div class="row">
        <div class="col-sm-5">
          <span vyzva$exmodule$emptytest label="První interakce" value="{{exService.user.short.beg | vyzva$exmodule$sec}}"></span>
          <span vyzva$exmodule$emptytest label="Poslední interakce" value="{{exService.user.short.end | vyzva$exmodule$sec}}"></span>
          <span vyzva$exmodule$emptytest label="Strávený čas" value="{{exService.user.short.elapsed | vyzva$exmodule$time}}"></span>
        </div>
        <div class="col-sm-5">
        </div>
      </div>
    </div>
  </div>
  <div ng-controller="collapsable as excollapsed" ng-if="!exService.doneStatus">
    <div ng-click="excollapsed.isCollapsed = !excollapsed.isCollapsed" class="header h4">
      <!--<span class="fa fa-question-circle"></span>-->
      {{::exService.instructionData.title}}
      <div class="more fa fa-question-circle"></div>
    </div>
    <div collapse="excollapsed.isCollapsed" class="more-body-exercise position-relative">
      <div class="close-panel fa fa-times" ng-click="excollapsed.isCollapsed = !excollapsed.isCollapsed"></div>
      <hr />
      <div ng-bind-html="::exService.instructionData.body | rawhtml"></div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="vyzva$exercise$congratulation.html">
  <div class="modal-header">
    <h3 class="modal-title">Gratulujeme</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  </div>
</script>
