<!--***************** LAYOUT -->
<div class="topbar topbar-exercise" ng-controller="collapsable as modulecollapsable">
  <div class="container-fluid">
    <div class="container">
      <div class="pull-left" ng-include="'vyzva$common$topbarinnerleft.html'"></div>
      <button class="pull-left btn btn-success btn-lg" ng-disabled="modService.onbehalfof" ng-if="::!modService.moduleDone" ng-click="::ts.tbClick()">{{::ts.tbTitle}} <i class="fa fa-hand-o-right"></i></button>
      <div class="pull-left module-finished" ng-if="::modService.moduleDone"><i class="fa fa-checked"></i> {{::ts.tbDoneTitle}}</div>
      <button class="btn-finish pull-left btn btn-default" ng-click="::ts.tbNavigateProductHome()">Zpět na kurz <i class="fa fa-level-up"></i></button>
      <div class="pull-left topbar-title" ng-if="::!state.ignorePageTitle">{{::modService.node.title}}</div>
      <div class="pull-right more fa fa-bars" ng-if="::!(exService.isTest && !modService.moduleDone)" ng-click="modulecollapsable.isCollapsed = !modulecollapsable.isCollapsed"></div>
      <div class="pull-right" ng-include="'vyzva$common$topbarinnerright.html'"></div>
      <div class="clearfix"></div>
      <div class="ex-items" ng-include="'vyzva$exercise$moduleheaderitem.html'"></div>
    </div>
  </div>
  <div class="container-fluid" style="background-color:white;" ng-include="'vyzva$exercise$modulemorepanel.html'"></div>
</div>
<div class="container lm-top-margin">
  <div class="instruction" ng-include="'vyzva$exercise$instruction.html'"></div>
  <div class="ex-lector-panel" ng-if="::exService.showLectorPanel" ng-include="'vyzva$exercise$lector.html'"></div>
  <div class="new-ea lm-top-margin" data-show-exercise="" ex-service="::exService"></div>
</div>

<!--***************** LECTOR PANEL -->
<script type="text/ng-template" id="vyzva$exercise$lector.html">
  <div class="alert alert-success">
    <div class="row">
      <div class="col-sm-8">
        <h4>Vyhodnocení nahrávek studenta</h4>
        <p>Poslechněte si nahrávky studenta klikem na modrou šipku. Pak vyplňte hodnocení v procentech (0-100). Po vyplnění všech hodnocení stiskněte <i>Uložit hodnocení</i></p>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-success btn-lg pull-right" ng-click="::exService.saveLectorEvaluation()"><i class="fa fa-check"></i> Uložit vyhodnocení</button>
      </div>
    </div>
  </div>
</script>

<!--***************** MODULE HEADER ITEM -->
<script type="text/ng-template" id="vyzva$exercise$moduleheaderitem.html">
  <div ng-if="::modService.exShowPanel" ng-repeat="it in ::modService.exercises" class="ex-item"
       ng-class="{warning:it.background==1, success: it.background==2, danger: it.background==3, 'no-clickable': modService.exNoclickable, active: it.active}"
       ng-style="{cursor: modService.exNoclickable ? 'default' : 'pointer'}"
       ng-click="modService.exNoclickable ? null : modService.navigateExercise(it.idx)">
    <span ng-if="it.content==1" class="fa fa-check"></span>
    <span ng-if="it.content==2 || it.content==3">{{it.idx+1}}.</span>
    <span ng-if="it.content==5" class="fa fa-question"></span>
    <!--<span ng-if="it.content==3">{{it.idx+1}}.</span>-->
    <span ng-if="it.content==4" ng-style="it.percent | vyzva$exmodule$percentheight : 28" class="progress-red">{{it.percent}}%</span>
    <span ng-if="it.content==4">{{it.percent}}%</span>
  </div>
</script>

<!--***************** MOULE MORE PANEL -->
<script type="text/ng-template" id="vyzva$exercise$modulemorepanel.html">
  <div collapse="modulecollapsable.isCollapsed" class="container ">
    <div class="more-body-module position-relative">
      <div class="close-panel fa fa-times" ng-click="modulecollapsable.isCollapsed = !modulecollapsable.isCollapsed"></div>
      <h4>{{::modService.node.title}}, podrobné informace:</h4>
      <div vyzva$common$summary user="modService.user"></div>
    </div>
  </div>
</script>

<!--***************** INSTRUCTION -->
<script type="text/ng-template" id="vyzva$exercise$instruction.html">
  {{modService.showInstruction}}
  <div ng-controller="collapsable as excollapsed" ng-if="modService.showResult()">
    <div class="header h4" ng-click="excollapsed.isCollapsed = !excollapsed.isCollapsed">
      <div class="more fa fa-bars"></div>
      <span class="fa fa-check"></span>
      Cvičení "{{::ts.title}}" dokončeno: <span ng-if="exService.score()>=0"> skore <span vyzva$exmodule$scoreprogress value="{{exService.score()}}"></span></span>
    </div>
    <div collapse="excollapsed.isCollapsed" class="more-body-exercise position-relative">
      <div class="close-panel fa fa-times" ng-click="excollapsed.isCollapsed = !excollapsed.isCollapsed"></div>
      <div class="row">
        <div class="col-sm-5">
          <table class="table">
            <tr>
              <td>První interakce:</td>
              <td><b>{{(exService.user.short.beg | vyzva$exmodule$sec) || '-'}}</b></td>
            </tr>
            <tr>
              <td>Poslední interakce:</td>
              <td><b>{{(exService.user.short.end | vyzva$exmodule$sec) || '-'}}</b></td>
            </tr>
            <tr>
              <td>Strávený čas:</td>
              <td><b>{{(exService.user.short.elapsed | vyzva$exmodule$time) || '-'}}</b></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div ng-controller="collapsable as excollapsed" ng-if="!modService.showResult()">
    <div ng-click="excollapsed.isCollapsed = !excollapsed.isCollapsed" class="header h4">
      <!--<span class="fa fa-question-circle"></span>-->
      {{::exService.instructionData.title}}
      <div class="more fa fa-question-circle"></div>
    </div>
    <div collapse="excollapsed.isCollapsed" class="more-body-exercise position-relative">
      <div class="close-panel fa fa-times" ng-click="excollapsed.isCollapsed = !excollapsed.isCollapsed"></div>
      <hr />
      <div ng-bind-html="::exService.instructionData.body | rawhtml"></div>
    </div>
  </div>
</script>

<!--***************** MODAL DIALOGS -->
<script type="text/ng-template" id="vyzva$exercise$congratulation.html">
  <div class="modal-header">
    <h3 class="modal-title">Gratulujeme</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" lm-enter-key="::$close()" ng-click="::$close()">OK</button>
  </div>
</script>

<script type="text/ng-template" id="vyzva$exercise$wrongscore.html">
  <div class="modal-header">
    <h3 class="modal-title">Wrong score</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" lm-enter-key="::$close()" ng-click="::$close()">OK</button>
    <button class="btn btn-default" type="button" ng-click="::$dismiss()">Cancel</button>
  </div>
</script>
