<div vyzva$common$backheader title="Často kladené dotazy" class="container-fluid topbar"></div>
<div class="clearfix lm-bottom-margin"></div>

<!--<div class="container-fluid topbar">
  <div class="container">
    <div class="pull-left">
      <div class="onbehav-go-back" ng-click="::ts.navigateReturnUrl()"><i class="fa fa-arrow-circle-o-left"></i></div>
    </div>
    <div class="pull-left topbar-title">Často kladené dotazy</div>
  </div>
</div>
<div class="clearfix lm-bottom-margin"></div>-->

<div class="container">
  <!--<vyzva$faq$toc></vyzva$faq$toc>-->

  <h3>Dotazy Studentů</h3>
  <vyzva$faq$item type="Student" title="Nemohu pokračovat ve studiu, protože nemám dostupné tlačítko Spustit u žádné lekce ani testu">
    Pravděpodobně jste dokončil/dokončila <i>Vstupní test</i> nebo <b>Kontrolní test</b> a test čeká na ohodnocení <i>Učitelem</i>.
  </vyzva$faq$item>
  <vyzva$faq$item type="Student" title="Nefunguje mi přehrávání nebo nahrávání zvuku, co mám dělat?">
    Před spuštěním výuky máte možnost spustit kontrolu přehrávání a nahrávání zvuku. Pokud se test z nějakého důvodu nezdaří, zkontrolujte zejména následující:
    <ul>
      <li>Při dotazu na povolení sdílení mikrofonu jste zvolili ano.</li>
      <li>Zda máte správně nastavenou hlasitost přehrávání.</li>
      <li>Zda máte mikrofon povolený v nastavení počítače.</li>
      <li>Zda vám přehrávání a nahrávání zvuku funguje v ostatních aplikacích.</li>
    </ul>
    Pokud žádná z výše uvedených rad nepomůže, obraťte se na svého správce počítače.
  </vyzva$faq$item>

  <h3>Dotazy Učitelů</h3>
  <vyzva$faq$item type="Učitel" title="student zadal licenční klíc a já jeho jméno nevidím v seznamu">
    <i>Student</i> musí nejenom zadat licenční klíč ale i spustit kurz. Také zkuste provést obnovu stránky (klávesa F5) nebo vypněte a zapněte prohlížeč.
  </vyzva$faq$item>
  <vyzva$faq$item type="Učitel" title="mohu pro danou skupinu přidělit jen jeden klíč pro Učitele a další až v případě potřeby?">
    Ano, samozřejmě.
  </vyzva$faq$item>

  <!--<h3>Dotazy správců</h3>-->
  <!--<vyzva$faq$item type="Správce" title="co když omylem zadám studijní skupinu navíc?">
    Můžete ji smazat pomocí křížku vpravo
  </vyzva$faq$item>-->

  <script type="text/ng-template" id="vyzva$faq$item.html">
    <div class="panel panel-default" data-toc="{{datatoc}}" id="{{id}}">
      <div class="panel-heading">
        <h4>{{type}}: {{title}}</h4>
      </div>
      <div class="panel-body" ng-transclude>
      </div>
    </div>
    <!--<div class="a text-right">jdi nahoru</div>-->
  </script>

  <script type="text/ng-template" id="vyzva$faq$toc.html">
    <div ng-repeat="(key,items) in groups">
      <b>{{key}}</b>
      <ul>
        <li ng-repeat="it in items" class="a">{{it.title}}</li>
      </ul>
    </div>
    <hr />
  </script>

</div>
