<div vyzva$common$backheader title="Často kladené dotazy" class="container-fluid topbar"></div>
<div class="clearfix lm-bottom-margin"></div>

<!--<div class="container-fluid topbar">
  <div class="container">
    <div class="pull-left">
      <div class="onbehav-go-back" ng-click="::ts.navigateReturnUrl()"><i class="fa fa-arrow-circle-o-left"></i></div>
    </div>
    <div class="pull-left topbar-title">Často kladené dotazy</div>
  </div>
</div>
<div class="clearfix lm-bottom-margin"></div>-->

<div class="container">
  <!--<vyzva$faq$toc></vyzva$faq$toc>-->

  <!--<h3>Dotazy studentů</h3>-->

  <h3>Dotazy učitelů</h3>
  <vyzva$faq$item type="Učitel" title="student zadal licenční klíc a já jeho jméno nevidím v seznamu">
    Student musí nejenom zadat licenční klíč ale i spustit kurz. Také zkuste provést obnovu stránky (klávesa F5) nebo vypněte a zapněte prohlížeč.
  </vyzva$faq$item>
  <vyzva$faq$item type="Učitel" title="mohu pro danou skupiny přidělit jen jeden klíč pro učitele a další až v případě potřeby?">
    Ano, samozřejmě.
  </vyzva$faq$item>

  <!--<h3>Dotazy správců</h3>-->
  <!--<vyzva$faq$item type="Správce" title="co když omylem zadám studijní skupinu navíc?">
    Můžete ji smazat pomocí křížku vpravo
  </vyzva$faq$item>-->

  <script type="text/ng-template" id="vyzva$faq$item.html">
    <div class="panel panel-default" data-toc="{{datatoc}}" id="{{id}}">
      <div class="panel-heading">
        <h4>{{type}}: {{title}}</h4>
      </div>
      <div class="panel-body" ng-transclude>
      </div>
    </div>
    <!--<div class="a text-right">jdi nahoru</div>-->
  </script>

  <script type="text/ng-template" id="vyzva$faq$toc.html">
    <div ng-repeat="(key,items) in groups">
      <b>{{key}}</b>
      <ul>
        <li ng-repeat="it in items" class="a">{{it.title}}</li>
      </ul>
    </div>
    <hr />
  </script>

</div>
