<div class="container">
  <div class="row">
    <ul class="nav nav-tabs lm-tabs">
      <li data-ng-class="{'active': tabName=='index'}"><a ui-sref="index"><i class="fa fa-home"></i>&nbsp;Hlavní</a></li>
      <li data-ng-class="{'active': tabName=='demopages'}"><a ui-sref="demopages.list"><i class="fa fa-file-o"></i>&nbsp;Jednotlivé části výuky</a></li>
      <li data-ng-class="{'active': tabName=='demosound'}"><a ui-sref="demosound.list"><i class="fa fa-volume-up"></i>&nbsp;Dialogy rodilých mluvčích</a></li>
      <li data-ng-class="{'active': tabName=='statistics'}"><a ui-sref="statistics"><i class="fa fa-line-chart"></i>&nbsp;Přehledy o výuce</a></li>
      <li data-ng-class="{'active': tabName=='vyzva57'}"><a ui-sref="vyzva57"><i class="fa fa-graduation-cap"></i>&nbsp;Výzva 57 MŠMT</a></li>
      <li data-ng-class="{'active': tabName=='contact'}"><a ui-sref="contact"><i class="fa fa-envelope-o"></i>&nbsp;Kontakt</a></li>
    </ul>
  </div>
</div>
