<!--<div vyzva$lector$tabs act-idx="ts.tabIdx" do-navigate="ts.navigateWrapper()"></div>-->

<h2><i class="fa fa-user-times"></i> {{::ts.title}}</h2>

<div class="alert alert-success lm-bottom-margin">
  TODO Popis<br />
  - vysvětlení ohledně klíčů podobné jako u Správce<br />
  - motivační info o prohlížení výsledku studentů
</div>

<div vyzva$lector$users students="::ts.students" ts="::ts"></div>

<script type="text/ng-template" id="vyzva$lector$user.html">
  <td><b>{{::student().key.firstName}} {{::student().key.lastName}} <span ng-if="student().key.email">(<a href="mailto:{{::student().key.email}}">{{::student().key.email}}</a>)</span></b></td>
  <td>{{::student().key.keyStr}}</td>
  <td><button ng-if="::student().key.lmcomId" class="btn btn-success btn-sm" ng-click="::ts().gotoStudentResult(student())">Výsledky <i class="fa fa-hand-o-right"></i></button>&nbsp;</td>
</script>

<script type="text/ng-template" id="vyzva$lector$users.html">
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="active">
        <th>Jméno, příjmení, email</th>
        <th>Licenční klíč</th>
        <th>Výsledky</th>
      </tr>
    </thead>
    <tr ng-repeat="student in ::students()" vyzva$lector$user="" student="::student" ts="::ts()"></tr>
  </table>
</script>

<script type="text/ng-template" id="vyzva$lector$tabs.html">
  <tabset type="pills" class="lm-top-margin">
    <tab ng-repeat="it in ::tabs" heading="{{::it.shortTitle}}" select="navigate(it.idx)" active="::it.idx==actIdx()"></tab>
  </tabset>
  <div class="lm-tabs-header">
    <h3>{{::tabs[actIdx()].shortTitle || tabs[actIdx()].longTitle}}</h3>
  </div>
</script>
