<a href="#" ng-click="ts.debugDeletCompany()">del</a>
<div ng-if="ts.wizzardStep<2">
  TODO: vysvětlení
  <br />
  <br />
  <div class="col-sm-12 wizzard">
    <span class="wizzard-item" ng-class="{'active': ts.wizzardStep==0, 'done': ts.wizzardStep>0}">1. Založení studijních skupin</span>
    <span class="fa fa-arrow-right"></span>
    <span class="wizzard-item" ng-class="{'active': ts.wizzardStep==1, 'done': ts.wizzardStep>1, 'future': ts.wizzardStep<1}">2. Potvrzení</span>
    <span class="fa fa-arrow-right"></span>
    <span class="wizzard-item future">3. Licenční klíče pro lektory</span>
  </div>
  <div class="clearfix"></div>
  <div data-ng-if="ts.wizzardStep<2">
    <br />
    <div class="alert alert-default" ng-if="ts.wizzardStep==0">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h4>Přidat studijní skupinu...</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h4 class="text-center">...studentů (dle šablony č. 4)</h4>
          <div class="col-sm-4" ng-repeat="btn in [1,2,5]" style="padding:0;">
            <button class="btm btn-info" ng-click="ts.addItem(btn, false)" style="white-space:nowrap">
              <span class="flag-small" ng-class="btn | lineIdsFlag"></span> {{btn | lineIdsText}}
            </button>
          </div>
        </div>
        <div class="col-sm-6">
          <h4 class="text-center">...učitelů (dle šablony č. 3)</h4>
          <div class="col-sm-4" ng-repeat="btn in [1,2,5]" style="padding:0;">
            <button class="btm btn-info" ng-disabled="ts.disabled(btn)" ng-click="ts.addItem(btn, true)" style="white-space:nowrap">
              <span class="flag-small" ng-class="btn | lineIdsFlag"></span> {{btn | lineIdsText}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Kurz</th>
          <th>Název studijní skupiny</th>
          <th>Šablona</th>
          <th>Počet (studnetů nebo učitelů)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="item in ts.groups">
          <td ng-bind="item.line | lineIdsText"></td>
          <td><input class="form-control" ng-model="item.title" ng-readonly="ts.wizzardStep>0" placeholder="titulek..." /></td>
          <td ng-bind="item.isPattern3 | vyzva$managerschool$sablonaid"></td>
          <td><input class="form-control" ng-model="item.num" ng-readonly="ts.wizzardStep>0" /></td>
          <td><button class="btn btn-sm btn-info" ng-if="ts.wizzardStep==0" ng-click="ts.removeItem($index)">X</button></td>
        </tr>
      </tbody>
    </table>

    <div class="clearfix"></div>
    <br />
    <button class="btm btn-default btn-lg" ng-if="ts.wizzardStep==1" ng-click="ts.wizzardClick(true)">Předchozí</button>
    <button class="btm btn-success btn-lg" ng-click="ts.wizzardClick(false)">{{ts.nextTitle}}</button>
  </div>

</div>

<div data-ng-if="ts.wizzardStep==2">
  TODO: vysvětlení
  <br />
  <br />
  <h3>Administrátoři školy</h3>
  <div vyzva$managerchool$usekeys items="::ts.company.managerKeys"></div>
  <div ng-repeat="grp in ::ts.company.studyGroups">
    <h4>
      {{grp.title}}:
      <span class="flag-small" ng-class="::grp.line | lineIdsFlag"></span>
      {{::grp.line | lineIdsText}}
      pro {{::grp.isPattern3 ? 'učitele (šablona č.3)' : 'studenty (šablona č.4)'}}
    </h4>
    <div vyzva$managerchool$usekeys items="::grp.lectorKeys"></div>
  </div>
</div>

<script type="text/ng-template" id="vyzva$managerschool$usekey.html">
  <td>{{::item().keyStr}}</td>
  <td>{{::item().firstName}}</td>
  <td>{{::item().lastName}}</td>
  <td>{{::item().email}}</td>
</script>

<script type="text/ng-template" id="vyzva$managerchool$usekeys.html">
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="active">
        <th>Licenční klíč</th>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>EMail</th>
      </tr>
    </thead>
    <tr ng-repeat="usedKey in ::items()" vyzva$managerschool$usekey="" item="::usedKey"></tr>
  </table>
</script>


