<div class="container-fluid topbar">
  <div class="container">
    <div class="pull-left">
      <div class="lm-logo-black-small"></div>
    </div>
    <div class="pull-left topbar-title">LANGMaster Hotline: <a href="mailto:info@langmaster.cz">info@langmaster.cz</a> +420 244 460 807</div>
  </div>
</div>

<div class="container">
  <h1 class="text-center" style="margin-bottom:0;">Rozběhnutí LANGMaster Blended Learning výuky</h1>
  <h2 class="text-center" style="margin-top:0;">Pro: {{::ts.companyInfo.companyTitle}}</h2>
  <div class="alert alert-success text-center">
    <h4>Váš Licenční klíč pro Správce školy je</h4>
    <h3>{{::ts.masterKey}}</h3>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="alert alert-warning">
        <h4>Postup zadání Licenčního klíče</h4>
        <ol>
          <li>Navigujte na stránku <a href="http://blended.langmaster.cz" target="_blank">http://blended.langmaster.cz</a> (stránka se otevře v novém okně prohlížeče)</li>
          <li>Založte si uživatelský účet LANGMaster nebo se přihlaste na jeden z vašich existujících Google, Facebook nebo Microsoft účtů.</li>
          <li>Po přihlášení klikněte na zelené tlačítko <b>Licenční klíč</b> (vpravo nahoře na stránce)</li>
          <li>Zadejte váš licenční klíč a stiskněte <b>OK</b></li>
          <li>
            Klikněte na panel <b>Vyzva 57: Správce školy</b>
            <br />
            Poznámka: Anglická vlaječka v panelu je jen dekorace, Správce školy může spravovat všechny dostupné kurzy, nejenom angličtinu.
          </li>
          <li>Řiďte se instrukcemi a podrobným popisem v kontextové nápovědě</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid gray">
  <div class="container">
    <div class="row text-center">
      <h3>Metodické materiály a příručky</h3>
    </div>
    <div class="col-sm-offset-2 col-sm-8">
      <a target="_blank" href="http://download.langmaster.cz/Prirucka_System.pdf">Metodická příručka pro práci se systémem</a><br />
      <a target="_blank" href="http://download.langmaster.cz/Metodicka_prirucka_AJ.pdf">Metodická příručka pro kurz Angličtiny</a><br />
      <a target="_blank" href="http://download.langmaster.cz/Metodicka_prirucka_NJ.pdf">Metodická příručka pro kurz Němčiny</a><br />
      <a target="_blank" href="http://download.langmaster.cz/Metodicka_prirucka_FJ.pdf">Metodická příručka pro kurz Francouzštiny</a><br />  <br />
    </div>
  </div>
</div>
