<?xml version="1.0"?>
<appSettings>
  <add key="BasicPath" value="q:\rew\alpha\" />
  <add key="OldEAUrl" value="http://test.langmaster.com/eduauthornew/" />
  <add key="LMComData" value="q:\rew\alpha\rew\Web4\Schools\Design\" />
  <!--PDF certifikat pro eTestMe-->
  <add key="PDF.Cert.Password" value="xcv456dfg258_" />
  <add key="PDF.Cert"         value="{0}rew\Web4\App_Data\testMe\langmaster_pdf.pfx" />
  <add key="PDF.Font"         value="{0}rew\Web4\App_Data\testMe\verdana.ttf" />
  <add key="PDF.FontBold"     value="{0}rew\Web4\App_Data\testMe\verdanab.ttf" />

  <add key="SSAS.ConnectionString" value="data source=195.250.145.26;user id=lm-virtual-1\lmadmin;password=@LangMast3r07;" />
  <add key="trados-rew_school-dir" value="q:\LMCom\rew\web4" />
  <add key="DataSourcePath" value="q:\LMCom\" />

  <add key="Chilkat.MailMan" value="SGORDICMAILQ_tPNaZl6U8K3D"/>
  <add key="Chilkat.Mht" value="SGORDICMHT_TQ85okoF8B4v"/>
  <add key="Email.SmtpHost" value="medea.dialtelecom.cz"/>
  <add key="Email.SmtpUsername" value="obchod@langmaster.cz"/>
  <add key="Email.SmtpSsl" value="false"/>
  <add key="Email.StartTLS" value="false"/>
  <add key="Email.SmtpPort" value="25"/>
  
  <add key="Logger.emails" value="pzika@langmaster.cz" />
  <add key="isSourceWeb" value="true" />

  <add key="Machines.AdminIP" value="212.24.151.34,95.80.229.14,90.180.152.199,127.0.0.1,::1,89.24.225.177"/>

  <add key="Trados.Code.utp" value="PL"/>
  <add key="Trados.title.PL" value="Poland"/>
  <add key="Trados.srcLang.PL" value="en_gb"/>
  <add key="Trados.transLang.PL" value="pl_pl"/>
  
  <add key="Trados.Code.om" value="TR"/>
  <add key="Trados.title.TR" value="Turkey"/>
  <add key="Trados.srcLang.TR" value="en_gb"/>
  <add key="Trados.transLang.TR" value="tr_tr"/>
  
  <add key="Trados.Code.belus" value="SK"/>
  <add key="Trados.title.SK" value="Slovakia"/>
  <add key="Trados.srcLang.SK" value="cs_cz"/>
  <add key="Trados.transLang.SK" value="sk_sk"/>
  
  <add key="Trados.Code.justas" value="LT"/>
  <add key="Trados.title.LT" value="Lithuanian"/>
  <add key="Trados.srcLang.LT" value="en_gb"/>
  <add key="Trados.transLang.LT" value="lt_lt"/>
  
  <add key="Trados.Code.Chinh" value="VI"/>
  <add key="Trados.title.VI" value="Vietnamese"/>
  <add key="Trados.srcLang.VI" value="en_gb"/>
  <add key="Trados.transLang.VI" value="vi_vn"/>
  
  <add key="Trados.Code.lbenet" value="CN"/>
  <add key="Trados.title.CN" value="Chinese"/>
  <add key="Trados.srcLang.CN" value="en_gb"/>
  <add key="Trados.transLang.CN" value="zh_cn"/>
  <!--
  <add key="Logger.emails" value="pzika@langmaster.com,pjanecek@langmaster.com,rjeliga@langmaster.com,zzikova@langmaster.com" />
  -->
  <add key="JSCramblerDebug" value="php.langmaster.org/langmaster/english_a1_lesson3_cs_cz_English_A1_Lesson3/schools/index.htm" />
</appSettings>
