<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TradosData" connectionString="Data Source=195.250.145.26;Initial Catalog=LMTrados;Persist Security Info=True;User ID=lmcomdatatest;Password=lmcomdatatest" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="persist.azure.connectionString" value="DefaultEndpointsProtocol=https;AccountName=lmdata;AccountKey=Hx//uWeo6vDSA2BHbBJP7HZviSSE6D8qZhGV7f4G778yPcfGOiBODF6o7Cg6029JiqnpMm1U8KrlD3+hycYiEw=="/>-->
    <add key="persist.azure.connectionString" value="UseDevelopmentStorage=true" />

    <add key="tsc.exe" value="c:\Program Files (x86)\Microsoft SDKs\TypeScript\1.7\tsc.exe" />

    <add key="filesources.web4" value="d:\LMCom\rew\Web4" />
    <add key="filesources.webcommon" value="d:\LMCom\rew\WebCommon\wwwroot" />
  </appSettings>
</configuration>