<!DOCTYPE html>
<html>
<head>
  <title>Common Test</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h2>Index</h2>
  <h3>Web4</h3>
  <a href="/web4/index.html">Web4</a>
  <h3>Common tests</h3>
  <a href="/web/lib.html">Common</a><br />
  <a href="/web/flux.html">Flux</a><br />
  <a href="/web/uirouter.html">uiRouter</a><br />
  <a href="/web/validation.html">Validation</a><br />
  <a href="/web/login.html">Login</a><br />
  <a href="/web/persist.html">Persist</a><br />
</body>
</html>