.rtl-hide {
  display: none;
}
.rtl-able .rtl .lm-collapse-low .lm-close,
.rtl-able .rtl .lm-collapse .lm-close {
  left: 4px;
  right: auto;
}
.rtl-able .rtl .rtl-block {
  display: block;
}
.rtl-able .rtl .rtl-inline {
  display: inline;
}
.rtl-able .rtl.app-school .lm-green-btn {
  text-align: right;
  padding-right: 10px;
  padding-left: 45px;
}
.rtl-able .rtl .navbar .lm-logo-black-small {
  margin-left: 15px;
}
.rtl-able .rtl .crsbtn .cmore {
  right: auto;
  left: 5px;
}
.rtl-able .rtl .crsbtn .cbtn {
  padding-right: 5px;
  padding-left: 40px;
}
.rtl-able .rtl.ex-evaluated .btn {
  left: 0;
  right: auto;
}
.rtl-able .rtl.instr .btn-link {
  text-align: right;
}
.rtl-able .rtl .flag-mid-bg {
  padding: 0px;
  margin-left: 10px;
}
.rtl-able .rtl.app-login .container {
  max-width: 600px;
}
@media (max-width: 991px) {
  .rtl-able .rtl .container {
    max-width: none;
  }
}
@media (min-width: 992px) {
  .rtl-able .rtl .container {
    max-width: 970px;
  }
}
