.flag-mid {
  background-image: url("img/flag-mid.png");
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 32px;
  vertical-align: text-bottom;
  width: 45px;
  height: 32px;
}
.flag-mid-bg {
  background-image: url("img/flag-mid.png");
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 32px;
  vertical-align: text-bottom;
  width: 45px;
  height: 32px;
  padding-left: 54px;
}
.flag-mid-afrikaans {
  background-position: 0 0;
}
.flag-mid-albanian {
  background-position: 0 -82px;
}
.flag-mid-arabic {
  background-position: 0 -164px;
}
.flag-mid-assamese {
  background-position: 0 -246px;
}
.flag-mid-azeri {
  background-position: 0 -328px;
}
.flag-mid-basque {
  background-position: 0 -410px;
}
.flag-mid-bengali {
  background-position: 0 -492px;
}
.flag-mid-breton {
  background-position: 0 -574px;
}
.flag-mid-bulgarian {
  background-position: 0 -656px;
}
.flag-mid-cantonese {
  background-position: 0 -738px;
}
.flag-mid-catalan {
  background-position: 0 -820px;
}
.flag-mid-chinese_mandarin {
  background-position: 0 -902px;
}
.flag-mid-corsican {
  background-position: 0 -984px;
}
.flag-mid-croatian {
  background-position: 0 -1066px;
}
.flag-mid-czech {
  background-position: 0 -1148px;
}
.flag-mid-danish {
  background-position: 0 -1230px;
}
.flag-mid-dutch {
  background-position: 0 -1312px;
}
.flag-mid-english {
  background-position: 0 -1394px;
}
.flag-mid-estonian {
  background-position: 0 -1476px;
}
.flag-mid-finnish {
  background-position: 0 -1558px;
}
.flag-mid-french {
  background-position: 0 -1640px;
}
.flag-mid-galician {
  background-position: 0 -1722px;
}
.flag-mid-georgian {
  background-position: 0 -1804px;
}
.flag-mid-german {
  background-position: 0 -1886px;
}
.flag-mid-greek {
  background-position: -95px 0;
}
.flag-mid-hausa {
  background-position: -95px -82px;
}
.flag-mid-hebrew {
  background-position: -95px -164px;
}
.flag-mid-hungarian {
  background-position: -95px -246px;
}
.flag-mid-icelandic {
  background-position: -95px -328px;
}
.flag-mid-igbo {
  background-position: -95px -410px;
}
.flag-mid-indonesian {
  background-position: -95px -492px;
}
.flag-mid-irish {
  background-position: -95px -574px;
}
.flag-mid-italian {
  background-position: -95px -656px;
}
.flag-mid-japanese {
  background-position: -95px -738px;
}
.flag-mid-khmer {
  background-position: -95px -820px;
}
.flag-mid-kirghiz {
  background-position: -95px -902px;
}
.flag-mid-korean {
  background-position: -95px -984px;
}
.flag-mid-latvian {
  background-position: -95px -1066px;
}
.flag-mid-lithuanian {
  background-position: -95px -1148px;
}
.flag-mid-macedonian {
  background-position: -95px -1230px;
}
.flag-mid-malay {
  background-position: -95px -1312px;
}
.flag-mid-maltese {
  background-position: -95px -1394px;
}
.flag-mid-maori {
  background-position: -95px -1476px;
}
.flag-mid-mongolian {
  background-position: -95px -1558px;
}
.flag-mid-norwegian {
  background-position: -95px -1640px;
}
.flag-mid-occitan {
  background-position: -95px -1722px;
}
.flag-mid-pashto {
  background-position: -95px -1804px;
}
.flag-mid-persian {
  background-position: -95px -1886px;
}
.flag-mid-polish {
  background-position: -190px 0;
}
.flag-mid-portuguese {
  background-position: -190px -82px;
}
.flag-mid-portuguese_brazilian {
  background-position: -190px -164px;
}
.flag-mid-quechua {
  background-position: -190px -246px;
}
.flag-mid-romanian {
  background-position: -190px -328px;
}
.flag-mid-russian {
  background-position: -190px -410px;
}
.flag-mid-serbian {
  background-position: -190px -492px;
}
.flag-mid-sesotho {
  background-position: -190px -574px;
}
.flag-mid-slovak {
  background-position: -190px -656px;
}
.flag-mid-slovenian {
  background-position: -190px -738px;
}
.flag-mid-spanish {
  background-position: -190px -820px;
}
.flag-mid-swahili {
  background-position: -190px -902px;
}
.flag-mid-swedish {
  background-position: -190px -984px;
}
.flag-mid-thai {
  background-position: -190px -1066px;
}
.flag-mid-tibetian {
  background-position: -190px -1148px;
}
.flag-mid-tswana {
  background-position: -190px -1230px;
}
.flag-mid-turkish {
  background-position: -190px -1312px;
}
.flag-mid-ukrainian {
  background-position: -190px -1394px;
}
.flag-mid-urdu {
  background-position: -190px -1476px;
}
.flag-mid-uzbek {
  background-position: -190px -1558px;
}
.flag-mid-vietnamese {
  background-position: -190px -1640px;
}
.flag-mid-xhosa {
  background-position: -190px -1722px;
}
.flag-mid-yoruba {
  background-position: -190px -1804px;
}
.flag-mid-zulu {
  background-position: -190px -1886px;
}
