.flag-small {
    background-image: url("img/flag-small.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    vertical-align: text-bottom; 
    width: 21px; 
}
.flag-small-afrikaans{ background-position: 0 0; width: 21px; height: 17px; } 
.flag-small-albanian{ background-position: 0 -67px; width: 21px; height: 17px; } 
.flag-small-arabic{ background-position: 0 -134px; width: 21px; height: 17px; } 
.flag-small-assamese{ background-position: 0 -201px; width: 21px; height: 17px; } 
.flag-small-azeri{ background-position: 0 -268px; width: 21px; height: 17px; } 
.flag-small-basque{ background-position: 0 -335px; width: 21px; height: 17px; } 
.flag-small-bengali{ background-position: 0 -402px; width: 21px; height: 17px; } 
.flag-small-breton{ background-position: 0 -469px; width: 21px; height: 17px; } 
.flag-small-bulgarian{ background-position: 0 -536px; width: 21px; height: 17px; } 
.flag-small-cantonese{ background-position: 0 -603px; width: 21px; height: 17px; } 
.flag-small-catalan{ background-position: 0 -670px; width: 21px; height: 17px; } 
.flag-small-chinese_mandarin{ background-position: 0 -737px; width: 21px; height: 17px; } 
.flag-small-corsican{ background-position: 0 -804px; width: 21px; height: 17px; } 
.flag-small-croatian{ background-position: 0 -871px; width: 21px; height: 17px; } 
.flag-small-czech{ background-position: 0 -938px; width: 21px; height: 17px; } 
.flag-small-danish{ background-position: 0 -1005px; width: 21px; height: 17px; } 
.flag-small-dutch{ background-position: 0 -1072px; width: 21px; height: 17px; } 
.flag-small-english{ background-position: 0 -1139px; width: 21px; height: 17px; } 
.flag-small-estonian{ background-position: 0 -1206px; width: 21px; height: 17px; } 
.flag-small-finnish{ background-position: 0 -1273px; width: 21px; height: 17px; } 
.flag-small-french{ background-position: 0 -1340px; width: 21px; height: 17px; } 
.flag-small-galician{ background-position: 0 -1407px; width: 21px; height: 17px; } 
.flag-small-georgian{ background-position: 0 -1474px; width: 21px; height: 17px; } 
.flag-small-german{ background-position: 0 -1541px; width: 21px; height: 17px; } 
.flag-small-greek{ background-position: 0 -1608px; width: 21px; height: 17px; } 
.flag-small-hausa{ background-position: 0 -1675px; width: 21px; height: 17px; } 
.flag-small-hebrew{ background-position: 0 -1742px; width: 21px; height: 17px; } 
.flag-small-hungarian{ background-position: 0 -1809px; width: 21px; height: 17px; } 
.flag-small-icelandic{ background-position: 0 -1876px; width: 21px; height: 17px; } 
.flag-small-igbo{ background-position: 0 -1943px; width: 21px; height: 17px; } 
.flag-small-indonesian{ background-position: -71px 0; width: 21px; height: 17px; } 
.flag-small-irish{ background-position: -71px -67px; width: 21px; height: 17px; } 
.flag-small-italian{ background-position: -71px -134px; width: 21px; height: 17px; } 
.flag-small-japanese{ background-position: -71px -201px; width: 21px; height: 17px; } 
.flag-small-khmer{ background-position: -71px -268px; width: 21px; height: 17px; } 
.flag-small-kirghiz{ background-position: -71px -335px; width: 21px; height: 17px; } 
.flag-small-korean{ background-position: -71px -402px; width: 21px; height: 17px; } 
.flag-small-latvian{ background-position: -71px -469px; width: 21px; height: 17px; } 
.flag-small-lithuanian{ background-position: -71px -536px; width: 21px; height: 17px; } 
.flag-small-macedonian{ background-position: -71px -603px; width: 21px; height: 17px; } 
.flag-small-malay{ background-position: -71px -670px; width: 21px; height: 17px; } 
.flag-small-maltese{ background-position: -71px -737px; width: 21px; height: 17px; } 
.flag-small-maori{ background-position: -71px -804px; width: 21px; height: 17px; } 
.flag-small-mongolian{ background-position: -71px -871px; width: 21px; height: 17px; } 
.flag-small-norwegian{ background-position: -71px -938px; width: 21px; height: 17px; } 
.flag-small-occitan{ background-position: -71px -1005px; width: 21px; height: 17px; } 
.flag-small-pashto{ background-position: -71px -1072px; width: 21px; height: 17px; } 
.flag-small-persian{ background-position: -71px -1139px; width: 21px; height: 17px; } 
.flag-small-polish{ background-position: -71px -1206px; width: 21px; height: 17px; } 
.flag-small-portuguese{ background-position: -71px -1273px; width: 21px; height: 17px; } 
.flag-small-portuguese_brazilian{ background-position: -71px -1340px; width: 21px; height: 17px; } 
.flag-small-quechua{ background-position: -71px -1407px; width: 21px; height: 17px; } 
.flag-small-romanian{ background-position: -71px -1474px; width: 21px; height: 17px; } 
.flag-small-russian{ background-position: -71px -1541px; width: 21px; height: 17px; } 
.flag-small-serbian{ background-position: -71px -1608px; width: 21px; height: 17px; } 
.flag-small-sesotho{ background-position: -71px -1675px; width: 21px; height: 17px; } 
.flag-small-slovak{ background-position: -71px -1742px; width: 21px; height: 17px; } 
.flag-small-slovenian{ background-position: -71px -1809px; width: 21px; height: 17px; } 
.flag-small-spanish{ background-position: -71px -1876px; width: 21px; height: 17px; } 
.flag-small-swahili{ background-position: -71px -1943px; width: 21px; height: 17px; } 
.flag-small-swedish{ background-position: -142px 0; width: 21px; height: 17px; } 
.flag-small-thai{ background-position: -142px -67px; width: 21px; height: 17px; } 
.flag-small-tibetian{ background-position: -142px -134px; width: 21px; height: 17px; } 
.flag-small-tswana{ background-position: -142px -201px; width: 21px; height: 17px; } 
.flag-small-turkish{ background-position: -142px -268px; width: 21px; height: 17px; } 
.flag-small-ukrainian{ background-position: -142px -335px; width: 21px; height: 17px; } 
.flag-small-urdu{ background-position: -142px -402px; width: 21px; height: 17px; } 
.flag-small-uzbek{ background-position: -142px -469px; width: 21px; height: 17px; } 
.flag-small-vietnamese{ background-position: -142px -536px; width: 21px; height: 17px; } 
.flag-small-xhosa{ background-position: -142px -603px; width: 21px; height: 17px; } 
.flag-small-yoruba{ background-position: -142px -670px; width: 21px; height: 17px; } 
.flag-small-zulu{ background-position: -142px -737px; width: 21px; height: 17px; } 
