.bl .topbar-exercise {
  height: auto;
}
.bl .topbar-exercise .btn-finish {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 6px;
  background-color: #f5f5f5;
}
.bl .topbar-exercise .ex-items {
  margin-top: 5px;
}
.bl .topbar-exercise .lm-logo-black-small {
  margin-top: 8px;
  margin-right: 10px;
}
.bl .topbar-exercise .more {
  color: white;
  font-size: 20px;
  margin-top: 12px;
  margin-right: 12px;
  cursor: pointer;
}
.bl .topbar-exercise .ex-item {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  font-size: 12px;
  border: solid 1px #dddddd;
  background-color: #f5f5f5;
  cursor: pointer;
  line-height: 36px;
  text-align: center;
}
.bl .topbar-exercise .ex-item.success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: white;
}
.bl .topbar-exercise .ex-item.warning {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: white;
}
.bl .topbar-exercise .ex-item .progress-red {
  position: absolute;
  background-color: #ff6022;
  left: 0;
  right: 0;
  top: 0;
}
.bl .topbar-exercise .more-body-module {
  background-color: #f5f5f5;
  padding-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.bl .instruction {
  /*background-color: @alert-success-bg;
    border: 1px solid @alert-success-border;*/
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding-left: 15px;
}
.bl .instruction .header {
  position: relative;
  cursor: pointer;
}
.bl .instruction .header h4 {
  margin: 0;
}
.bl .instruction .header.header-done {
  height: 34px;
}
.bl .instruction .header .reset-btn {
  margin: 2px 0;
  position: absolute;
  right: 3px;
}
.bl .instruction .header .more {
  position: absolute;
  cursor: pointer;
  top: 1px;
  right: 10px;
  font-size: 20px;
}
.bl .instruction .more-body-exercise h1 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bl .instruction .more-body-exercise .btn-link {
  text-align: left;
  text-decoration: none;
  white-space: normal;
  font-weight: bold;
  font-size: 16px;
}
.bl .instruction .more-body-exercise ol {
  margin: 0 0 10px 25px;
}
