.bl .list-group-item-success-primary {
  color: #ffffff;
  background-color: #5cb85c;
}
a.bl .list-group-item-success-primary {
  color: #ffffff;
}
a.bl .list-group-item-success-primary .list-group-item-heading {
  color: inherit;
}
a.bl .list-group-item-success-primary:hover,
a.bl .list-group-item-success-primary:focus {
  color: #ffffff;
  background-color: #4cae4c;
}
a.bl .list-group-item-success-primary.active,
a.bl .list-group-item-success-primary.active:hover,
a.bl .list-group-item-success-primary.active:focus {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.bl .btn-succes-info {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #5cb85c;
}
.bl .btn-succes-info:hover,
.bl .btn-succes-info:focus,
.bl .btn-succes-info.focus,
.bl .btn-succes-info:active,
.bl .btn-succes-info.active,
.open > .dropdown-toggle.bl .btn-succes-info {
  color: #3c763d;
  background-color: #b2dba1;
  border-color: #275927;
}
.bl .btn-succes-info:active,
.bl .btn-succes-info.active,
.open > .dropdown-toggle.bl .btn-succes-info {
  background-image: none;
}
.bl .btn-succes-info.disabled,
.bl .btn-succes-info[disabled],
fieldset[disabled] .bl .btn-succes-info,
.bl .btn-succes-info.disabled:hover,
.bl .btn-succes-info[disabled]:hover,
fieldset[disabled] .bl .btn-succes-info:hover,
.bl .btn-succes-info.disabled:focus,
.bl .btn-succes-info[disabled]:focus,
fieldset[disabled] .bl .btn-succes-info:focus,
.bl .btn-succes-info.disabled.focus,
.bl .btn-succes-info[disabled].focus,
fieldset[disabled] .bl .btn-succes-info.focus,
.bl .btn-succes-info.disabled:active,
.bl .btn-succes-info[disabled]:active,
fieldset[disabled] .bl .btn-succes-info:active,
.bl .btn-succes-info.disabled.active,
.bl .btn-succes-info[disabled].active,
fieldset[disabled] .bl .btn-succes-info.active {
  background-color: #dff0d8;
  border-color: #5cb85c;
}
.bl .btn-succes-info .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.bl .home-more-panel {
  padding: 10px;
}
.bl .study-plan > li {
  position: relative;
  padding-left: 60px;
  padding-right: 120px;
}
.bl .study-plan > li h4 {
  margin: 8px 0;
}
.bl .study-plan > li .left-mark,
.bl .study-plan > li .right-mark,
.bl .study-plan > li .percent-mark {
  position: absolute;
  text-align: center;
}
.bl .study-plan > li .left-mark {
  left: 0;
  top: 10px;
  width: 50px;
  border-right: solid 1px transparent;
  font-size: 24px;
}
.bl .study-plan > li .right-mark {
  top: 10px;
  right: 10px;
}
.bl .study-plan > li .percent-mark {
  padding-left: 5px;
}
.bl .study-plan > li .percent-mark .progress-bar {
  position: relative;
  width: 38px;
  height: 32px;
  font-size: 12px;
  background-color: #5cb85c;
  border-radius: 4px;
  line-height: 34px;
}
.bl .study-plan > li .percent-mark .progress-bar .progress-red {
  position: absolute;
  background-color: #ff6022;
  border-radius: 4px;
  left: 0;
  right: 0;
  top: 0;
}
.bl .study-plan .list-group-item-success-primary .left-mark {
  border-right-color: #dff0d8;
}
.bl .study-plan .list-group-item-success .left-mark {
  border-right-color: #93cd7c;
}
.bl .home-course .panel-heading {
  position: relative;
}
.bl .home-course .panel-heading .more {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 18px;
  font-size: 24px;
}
.bl .home-test-hw {
  padding: 8px;
  padding-right: 80px;
  position: relative;
  cursor: pointer;
  background-color: #fcf8e3;
}
.bl .home-test-hw > button {
  position: absolute;
  right: 10px;
  top: 18px;
}
