.bl .text-small {
  font-size: 13px;
}
.bl .when-problem {
  margin-top: 5px;
  text-align: center;
  font-size: 11px;
}
.bl .primary {
  color: white;
  padding: 8px;
  background-color: #337ab7;
}
.bl .container-fluid {
  padding: 0;
}
.bl .breadcrumb {
  margin-bottom: 0;
}
.bl .nav-pills > li > a {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.bl .panel-heading h3,
.bl .panel-heading h4 {
  margin: 10px 0;
}
.bl .lm-top-margin {
  margin-top: 20px;
}
.bl .lm-margin {
  margin: 20px;
}
.bl .lm-bottom-margin {
  margin-bottom: 20px;
}
.bl .lm-bottom-margin-lg {
  margin-bottom: 30px;
}
.bl .lm-top-margin-lg {
  margin-top: 40px;
}
.bl .a {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}
.bl .a:hover,
.bl .a:focus {
  color: #23527c;
  text-decoration: underline;
}
.bl .a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.bl .help-panel {
  padding: 10px;
}
.bl .help-panel .help-content {
  border-top: solid 1px;
  padding-top: 10px;
  position: relative;
}
.bl .help-panel .help-content .help-close {
  position: absolute;
  top: 0px;
  right: 2px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
}
.bl .help-panel .help-header {
  position: relative;
  cursor: pointer;
}
.bl .help-panel .help-header.h4,
.bl .help-panel .help-header.h3 {
  margin: 8px 0;
}
.bl .help-panel .help-header .more {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 20px;
}
.bl .help-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.bl .help-success hr {
  border-top-color: #c9e2b3;
}
.bl .help-success .alert-link {
  color: #2b542c;
}
.bl .help-success .help-content {
  border-top-color: #bbdba1;
}
.bl .help-success .help-content .help-close {
  color: #86be57;
}
.bl .help-default {
  background-color: #f5f5f5;
  border-color: #dddddd;
  color: #333333;
}
.bl .help-default hr {
  border-top-color: #d0d0d0;
}
.bl .help-default .alert-link {
  color: #1a1a1a;
}
.bl .help-default .help-content {
  border-top-color: #c4c4c4;
}
.bl .help-default .help-content .help-close {
  color: #919191;
}
.bl h3 .flag-small {
  height: 22px;
}
.bl .lm-tabs a:focus {
  outline: none;
}
.bl .lm-tabs li.active * {
  background-color: #337ab7 !important;
  color: #ffffff !important;
}
.bl .score-bar {
  display: inline-block;
  position: relative;
  background-color: #5cb85c;
  width: 50px;
  height: 20px;
  vertical-align: top;
}
.bl .score-bar .progress-red {
  position: absolute;
  background-color: #ff6022;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.bl .score-bar .score-text {
  position: absolute;
  text-align: center;
  color: white;
  right: 0;
  font-size: 14px;
  line-height: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
}
.bl .score-bar.learn-progress {
  background-color: #5bc0de;
}
.bl .score-bar.learn-progress .progress-red {
  background-color: gray;
}
.bl .lm-tabs-header {
  margin-top: -1px;
  background-color: #337ab7;
  color: #ffffff !important;
}
.bl .lm-tabs-header h3 {
  margin-top: 0px;
  padding: 16px;
}
.bl .close-panel {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  color: lightgray;
  cursor: pointer;
}
.bl .position-relative {
  position: relative;
}
.bl .wizzard {
  font-size: 110%;
}
.bl .wizzard .key-table td {
  vertical-align: middle;
}
.bl .export-table .row {
  font-size: 13px;
}
.bl .export-table .row .col-sm-6 {
  margin-top: 10px;
}
.bl .export-table .row .btn {
  margin-bottom: 5px;
}
.bl .copyright {
  color: #a6a6a6;
}
