.bl .topbar {
  background-color: black;
  height: 50px;
}
.bl .topbar .lm-logo-black-small {
  float: left;
  background: url(img/lm-logo-black.png) no-repeat;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 20px;
  width: 41px;
  height: 32px;
  cursor: pointer;
}
.bl .topbar .btn {
  margin-top: 2px;
}
.bl .navbar-center {
  height: 50px;
}
.bl .navbar-center .lm-logo-black-small {
  float: left;
  background: url(img/lm-logo-black.png) no-repeat;
  margin-top: 10px;
  margin-left: 0;
  width: 41px;
  height: 32px;
}
.bl .navbar-center .content {
  display: table-cell;
  vertical-align: middle;
}
.bl .navbar-center .content.lm-logo {
  padding-right: 20px;
  border-right: 1px solid lightgray;
}
.bl .navbar-center .content.lm-logo > a {
  display: block;
  background: url(img/lm-logo.png) no-repeat;
  width: 195px;
  height: 41px;
}
.bl .navbar-center .content.slogan {
  padding-top: 5px;
  color: lightgray;
  font-size: 14px;
  font-weight: bold;
}
.bl .navbar-center .content.contact {
  font-size: 14px;
  font-weight: bold;
}
.bl .wizzard {
  font-size: 110%;
}
.bl .wizzard .fa {
  color: lightgray;
  padding: 0 10px;
}
.bl .wizzard .wizzard-item {
  display: inline;
  padding: .2em .6em .3em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: 1px solid lightgray;
  border-radius: .25em;
  color: lightgray;
  /*&.active {
        color: #fff;
        .bg-variant(@brand-primary);
      }*/
}
.bl .wizzard .wizzard-item.done,
.bl .wizzard .wizzard-item.active {
  color: #fff;
  background-color: #337ab7;
}
a.bl .wizzard .wizzard-item.done:hover,
a.bl .wizzard .wizzard-item.active:hover {
  background-color: #286090;
}
.bl h3 .flag-small {
  height: 22px;
}
.bl .lm-tabs a:focus {
  outline: none;
}
.bl .lm-tabs li.active * {
  background-color: #337ab7 !important;
  color: #ffffff !important;
}
.bl .study-plan > li {
  position: relative;
  padding-left: 50px;
  padding-right: 120px;
}
.bl .study-plan > li h4 {
  margin-top: 0px;
}
.bl .study-plan > li .left-mark,
.bl .study-plan > li .right-mark {
  position: absolute;
  top: 5px;
}
.bl .study-plan > li .left-mark {
  left: 10px;
  top: 10px;
  font-size: 20px;
  border: solid 1px lightgray;
  border-radius: 15px;
  width: 30px;
  text-align: center;
}
.bl .study-plan > li .right-mark {
  width: 110px;
  right: 0px;
}
