.bl {
  /*.navbar-center {
    //display: table !important;
    height: 50px;

    .lm-logo-black-small {
      float: left;
      background: url(img/lm-logo-black.png) no-repeat;
      margin-top: 10px;
      margin-left: 0;
      width: 41px;
      height: 32px;
    }

    .content {
      display: table-cell;
      vertical-align: middle;

      &.lm-logo {
        padding-right: 20px;
        border-right: 1px solid lightgray;

        > a {
          display: block;
          background: url(img/lm-logo.png) no-repeat;
          width: 195px;
          height: 41px;
        }
      }

      &.slogan {
        padding-top: 5px;
        color: lightgray;
        font-size: 14px;
        font-weight: bold;
      }

      &.contact {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }*/
}
.bl .breadcrumb {
  margin-bottom: 0;
}
.bl .topbar {
  background-color: black;
  height: 50px;
}
.bl .topbar .lm-logo-black-small {
  float: left;
  background: url(img/lm-logo-black.png) no-repeat;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 20px;
  width: 41px;
  height: 32px;
  cursor: pointer;
}
.bl .topbar .topbar-include {
  float: left;
}
.bl .topbar .btn {
  margin-top: 2px;
}
.bl .topbar .topbar-title {
  float: left;
  margin-left: 10px;
  color: lightgray;
  font-size: 24px;
  margin-top: 8px;
}
.bl .wizzard {
  font-size: 110%;
}
.bl .wizzard .fa {
  color: lightgray;
  padding: 0 10px;
}
.bl .wizzard .wizzard-item {
  display: inline;
  padding: .2em .6em .3em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: 1px solid lightgray;
  border-radius: .25em;
  color: lightgray;
}
.bl .wizzard .wizzard-item.done,
.bl .wizzard .wizzard-item.active {
  color: #fff;
  background-color: #337ab7;
}
a.bl .wizzard .wizzard-item.done:hover,
a.bl .wizzard .wizzard-item.active:hover {
  background-color: #286090;
}
.bl h3 .flag-small {
  height: 22px;
}
.bl .lm-tabs a:focus {
  outline: none;
}
.bl .lm-tabs li.active * {
  background-color: #337ab7 !important;
  color: #ffffff !important;
}
.bl .study-plan > li {
  position: relative;
  padding-left: 50px;
  padding-right: 120px;
}
.bl .study-plan > li h4 {
  margin-top: 0px;
}
.bl .study-plan > li .left-mark,
.bl .study-plan > li .right-mark {
  position: absolute;
  top: 5px;
}
.bl .study-plan > li .left-mark {
  left: 10px;
  top: 10px;
  font-size: 20px;
  border: solid 1px lightgray;
  border-radius: 15px;
  width: 30px;
  text-align: center;
}
.bl .study-plan > li .right-mark {
  width: 110px;
  right: 0px;
}
.bl .module-map-items {
  margin-top: 10px;
  margin-left: 1px;
}
.bl .module-map-item {
  margin-left: -1px !important;
  border-radius: 0 !important;
  width: 34px;
  padding-left: 0;
  padding-right: 0;
  color: #337ab7;
  text-decoration: underline;
}
.bl .module-map-item.done {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.bl .module-map-item.done:hover,
.bl .module-map-item.done:focus,
.bl .module-map-item.done.focus,
.bl .module-map-item.done:active,
.bl .module-map-item.done.active,
.open > .dropdown-toggle.bl .module-map-item.done {
  color: #ffffff;
  background-color: #3d8b3d;
  border-color: #1f471f;
}
.bl .module-map-item.done:active,
.bl .module-map-item.done.active,
.open > .dropdown-toggle.bl .module-map-item.done {
  background-image: none;
}
.bl .module-map-item.done.disabled,
.bl .module-map-item.done[disabled],
fieldset[disabled] .bl .module-map-item.done,
.bl .module-map-item.done.disabled:hover,
.bl .module-map-item.done[disabled]:hover,
fieldset[disabled] .bl .module-map-item.done:hover,
.bl .module-map-item.done.disabled:focus,
.bl .module-map-item.done[disabled]:focus,
fieldset[disabled] .bl .module-map-item.done:focus,
.bl .module-map-item.done.disabled.focus,
.bl .module-map-item.done[disabled].focus,
fieldset[disabled] .bl .module-map-item.done.focus,
.bl .module-map-item.done.disabled:active,
.bl .module-map-item.done[disabled]:active,
fieldset[disabled] .bl .module-map-item.done:active,
.bl .module-map-item.done.disabled.active,
.bl .module-map-item.done[disabled].active,
fieldset[disabled] .bl .module-map-item.done.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.bl .module-map-item.done .badge {
  color: #5cb85c;
  background-color: #ffffff;
}
.bl .module-map-item.active {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.bl .module-map-item.active:hover,
.bl .module-map-item.active:focus,
.bl .module-map-item.active.focus,
.bl .module-map-item.active:active,
.bl .module-map-item.active.active,
.open > .dropdown-toggle.bl .module-map-item.active {
  color: #ffffff;
  background-color: #df8a13;
  border-color: #85530b;
}
.bl .module-map-item.active:active,
.bl .module-map-item.active.active,
.open > .dropdown-toggle.bl .module-map-item.active {
  background-image: none;
}
.bl .module-map-item.active.disabled,
.bl .module-map-item.active[disabled],
fieldset[disabled] .bl .module-map-item.active,
.bl .module-map-item.active.disabled:hover,
.bl .module-map-item.active[disabled]:hover,
fieldset[disabled] .bl .module-map-item.active:hover,
.bl .module-map-item.active.disabled:focus,
.bl .module-map-item.active[disabled]:focus,
fieldset[disabled] .bl .module-map-item.active:focus,
.bl .module-map-item.active.disabled.focus,
.bl .module-map-item.active[disabled].focus,
fieldset[disabled] .bl .module-map-item.active.focus,
.bl .module-map-item.active.disabled:active,
.bl .module-map-item.active[disabled]:active,
fieldset[disabled] .bl .module-map-item.active:active,
.bl .module-map-item.active.disabled.active,
.bl .module-map-item.active[disabled].active,
fieldset[disabled] .bl .module-map-item.active.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.bl .module-map-item.active .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.bl .instruction {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  padding-left: 15px;
}
.bl .instruction .header {
  position: relative;
  cursor: pointer;
}
.bl .instruction .header.header-done {
  height: 34px;
}
.bl .instruction .header .more {
  /*position: absolute;
        top: 3px;
        right: 10px;*/
  color: #337ab7;
}
.bl .instruction .header .reset-btn {
  margin: 2px 0;
  position: absolute;
  right: 3px;
}
.bl .instruction .body {
  color: #3c763d;
  padding-top: 10px;
}
.bl .instruction .body h1 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bl .instruction .body .btn-link {
  text-align: left;
  text-decoration: none;
  white-space: normal;
  font-weight: bold;
  font-size: 16px;
}
.bl .instruction .body ol {
  margin: 0 0 10px 25px;
}
.bl .lm-tabs-header {
  margin-top: -1px;
  background-color: #337ab7;
  color: #ffffff !important;
}
.bl .lm-tabs-header h3 {
  margin-top: 10px;
}
