<div class="instruction" ng-controller="collapsable" ng-if="user().short.done && !state().exerciseIsTest">
  <div class="header header-done">
    <div class="btn btn-default btn-sm reset-btn" ng-click="doReset()()">
      <span class="fa fa-recycle"></span>
      Reset
    </div>
    <span class="h4 fa fa-check text-success"></span>&nbsp;&nbsp;<span class="h4">splněno</span>
  </div>
</div>
<div class="instruction" ng-controller="collapsable" ng-if="!user().short.done || state().exerciseIsTest">
  <div ng-click="isCollapsed = !isCollapsed" class="header h4">
    <span class="fa fa-info-circle fa-lg"></span>&nbsp;&nbsp;
    {{::data().title}}
    <span class="fa fa-ellipsis-h fa-lg"></span>&nbsp;&nbsp;
  </div>
  <div collapse="isCollapsed" class="body" ng-bind-html="::data().body | rawhtml"></div>
</div>
