<div class="alert advertise">
  <div class="container">
    <h1>{{pageTitle}}</h1>
  </div>
</div>
<div class="container-fluid white">
  <div class="container">
    <div class="row lm-tupple" ng-repeat="tupple in tupples">
      <div class="col-sm-6">
        <a ui-sref="demosound.lang.list({lang: tupple.left.url})">
          <div class="alert alert-warning lm-demosound">
            <i class="flag-mid {{'flag-mid-' + tupple.left.url}}"></i>
            {{tupple.left.title}}<br />
            <!--<div class="text-danger" style="font-size:12px" data-ng-if="tupple.left.url=='french'">
              <b>Upozornění:</b>
              Seznam dialogů pro francouzštinu ještě není kompletní. Na doplnění pracujeme.
            </div>-->
            <i class="fa fa-arrow-right"></i>

          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a ui-sref="demosound.lang.list({lang: tupple.right.url})" ng-if="tupple.hasRight">
          <div class="alert alert-warning lm-demosound">
            <i class="flag-mid {{'flag-mid-' + tupple.right.url}}"></i>
            {{tupple.right.title}}
            <i class="fa fa-arrow-right"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

