@model TheWeb.ModelOAuth
<!DOCTYPE html>
<html>
<head>
  <title>@Model.title</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  @Html.Raw(Model.css)
  @Html.Raw(Model.cfg)
  @Html.Raw(Model.js)
</head>
<body>
  <h3 id="error-place"></h3>
  <script type="text/javascript">
    oauth.loginPageEnter();
  </script>
</body>
</html>