<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!--<add key="persist.azure.connectionString" value="DefaultEndpointsProtocol=https;AccountName=lmdata;AccountKey=Hx//uWeo6vDSA2BHbBJP7HZviSSE6D8qZhGV7f4G778yPcfGOiBODF6o7Cg6029JiqnpMm1U8KrlD3+hycYiEw=="/>-->
    <add key="persist.azure.connectionString" value="UseDevelopmentStorage=true"/>
  </appSettings>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".tsx"/>
      <mimeMap fileExtension=".tsx" mimeType="application/javascript"/>
    </staticContent>
  </system.webServer>
</configuration>
